@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik+Gemstones&display=swap');

.container {
    grid-template-columns: repeat(9, 1fr);
    display: grid;
    font-family: 'Roboto',
        sans-serif;
    background-color: rgb(176, 192, 208);

}


.title {
    grid-column: 1/10;
    display: flex;
    justify-content: center;
}

.profileImg {
    grid-column: 3/4;
    display: flex;
    justify-content: flex-start;

}

.info {
    grid-column: 5/7;
}

.txt {
    grid-column: 3/8;
}

.tutorial {
    grid-column: 3/8;
}

.edumundoTitle {
    grid-column: 3/8;

}

.edumundoImg {
    grid-column: 3/8;
}

.edumundoImg a:hover {
    opacity: 0.5;
}

.recFeedbackTitle {
    grid-column: 3/8;
}

.recFeedbackImgs {
    grid-column: 3/8;
    display: flex;
}

.recFeedbackImgs a:hover {
    opacity: 0.5;
}

.planofApproachTitle {
    grid-column: 3/8;
}

.planOfApproachImg {
    grid-column: 3/8;
    display: flex;
    justify-content: flex-start;
}

.planOfApproachImg a {
    padding-right: 100px;
}

.planOfApproachImg a:hover {
    opacity: 0.5;
}

.meetingTitle {
    grid-column: 3/8;
}

.meetingImg {
    display: flex;
    grid-column: 3/8;
    justify-content: space-between;

}

.meetingImg img {
    display: flex;

}

.meetingImg p {
    text-align: center;
}

.meetingImg a:hover {
    opacity: 0.5;
}

.presentationImg a:hover {
    opacity: 0.5;
}